<main class="content">
  <div class="main">
    <h2>Task Dashboard</h2>

  
    <form (ngSubmit)="saveTask()">
      <input type="text" [(ngModel)]="task.title" placeholder="Task Title" name="title" required />
      <input type="text" [(ngModel)]="task.description" placeholder="Task Description" name="description" />
      <button type="submit">{{ task.id ? 'Update Task' : 'Add Task' }}</button>
    </form>

    <hr>

   
    <table class="task-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>
            <button (click)="editTask(task)">
              <i class="fas fa-edit"></i> Edit
            </button>
            <button (click)="deleteTask(task.id)">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
