<div class="dashboard-container">
  <!-- Navbar -->
  <nav class="navbar">
       <h1>Dashboard</h1>
    </nav>

  <!-- <div class="header">

    <div class="logo">Identitable</div>
    <div class="user">
      <div class="user-name">Shankar</div>
      <div class="user-image">$$</div>
    </div>

  </div> -->

  <!-- Sidebar Menu -->
  <aside class="sidebar" [class.open]="isMenuOpen">
    <ul>
      <li><a href="#">Menu Item 1</a></li>
      <li><a href="#">Menu Item 2</a></li>
      <li><a href="#">Menu Item 3</a></li>
    </ul>
  </aside>

  <!-- Main Content Area -->
  <main class="content">

    <div>
      <button (click)="toggleMenu()" class="menu-toggle">
        <span *ngIf="!isMenuOpen">☰</span>
        <span id="close" *ngIf="isMenuOpen">✖</span>
      </button>
    </div>

    <div>
      <h2>Dashboard Content</h2>
      <p>Welcome to the dashboard. Here is where the main content will be displayed.</p>
    </div>
  </main>
</div>